# Ambiente
AMBIENTE_PROCESSO=desenvolvimento

# Configurações de conexão com o Banco de Dados
DB_HOST=''
DB_DATABASE=''
DB_USER=''
DB_PASSWORD=''
DB_PORT=''

# Configurações do servidor de aplicação
APP_PORT=''
APP_HOST=''

# Senha de aplicativo do Gmail
GMAIL_PASSWORD=''

# Geminai
GEMINI_API_KEY=''

# Modelo
MODEL='gemini-2.0-flash'
