/* Sidebar styles */
@import url("sidebar.css");

/* Mobile <= 480px */
@media screen and (max-width: 480px) {
}

/* Mobile >= 480px */
@media screen and (min-width: 480px) {
}

/* Tablet >= 768px */
@media screen and (min-width: 768px) {
}

/* Desktop >= 1024px */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .body {
    width: calc(100% - 8vw);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .body .container {
    padding: 2% 3.5%;
  }

  .body .container .title {
    font-weight: bold;
    background-color: var(--color-white);
  }

  .body .container .title a {
    text-decoration: none;
    color: var(--color-purple);
  }

  .body .container .kpis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
}

  .body .container .kpis .card {
    width: 18vw;
    margin: 2% 2% 0 0;
    border-radius: 25px;
    background-color: var(--color-white);
    padding: 25px;
    height: fit-content;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.201);
    display: flex;
    align-items: center;
  }

  .body .container .kpis .card:nth-child(1) .ii {
    background-color: var(--color-success);
  }

  .body .container .kpis .card:nth-child(1) .number {
    color: var(--color-success);
  }

  .body .container .kpis .card:nth-child(2) .ii {
    background-color: var(--color-danger);
  }

  .body .container .kpis .card:nth-child(2) .number {
    color: var(--color-danger);
  }

  .body .container .kpis .card:nth-child(3) .ii {
    background-color: var(--color-amber);
  }

  .body .container .kpis .card:nth-child(3) .number {
    color: var(--color-amber);
  }

  .body .container .kpis .card:nth-child(4) .ii {
    background-color: var(--color-purple);
  }

  /* .body .container .kpis .card:nth-child(4) .number {
    color: var(--color-orange);
  } */

  .body .container .kpis .info {
    display: flex;
    flex-direction: column;
  }

  .body .container .kpis .icon .i {
    display: flex;
    align-items: center;
  }

  .body .container .kpis .icon .ii {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: var(--color-purple);
  }

  .body .container .kpis .number {
    font-size: 3rem;
    color: var(--color-deep-purple);
    font-weight: bold;
  }

  .body .container .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    margin-top: 2%;
  }

  
  .body .container .kpis .desc {
    font-size: 1rem;
    color: var(--color-deep-purple);
    font-weight: bold;
    padding: 5px 0;
  }



  .body .container .sec2 .kpis2 .grafico-card{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.201);
    padding: 16px;
    border-radius: 26px;
    height: 90%;
  }

  .body .container .sec2 .kpis2 .grafico-card canvas {
    height: fit-content;
  }

  .body .container .sec2 {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;

  }

  .body .container .mapa {
    width: 100%;
    height: 0.4%;
  }

  .body .container .mapa #map {
    width: 100%;
    height: 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.201);
    border-radius: 16px;
    height: 60vh;
    border: 1px solid var(--color-divider);
  }

  .body .container .sec2 .mapa .title {
    padding: 10px 0;
  }

  .body .container .sec2 .mapa .title span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-purple);
  }

  .body .container .kpis2 {
    width: 100%;
    border-radius: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
  }

  .body .container .kpis2 .kpis2-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .body .container .kpis2 .card {
    width: 18vw;
    margin: 2% 2% 0 0;
    border-radius: 25px;
    background-color: var(--color-white);
    padding: 20px;
    height: 23vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.201);
    display: flex;
    align-items: center;
    margin-top: 8%;
  }


  .body .container .kpis2 .card:nth-child(1) .ii {
    background-color: var(--color-purple);
  }

  .body .container .kpis2 .card:nth-child(1) .number {
    color: var(--color-purple);
  }

  .body .container .kpis2 .card:nth-child(2) .ii {
    background-color: var(--color-purple);
    
  }

  .body .container .kpis2 .card:nth-child(2) .number {
    color: var(--color-purple);
  }

  .body .container .kpis2 .card:nth-child(3) .ii {
    background-color: var(--color-amber);
  }

  .body .container .kpis2 .card:nth-child(3) .number {
    color: var(--color-amber);
  }

  .body .container .kpis2 .card:nth-child(4) .ii {
    background-color: var(--color-orange);
  }

  .body .container .kpis2 .card:nth-child(4) .number {
    color: var(--color-orange);
  }

  .body .container .kpis2 .info {
    display: flex;
    flex-direction: column;
  }

  .body .container .kpis2 .icon .i {
    display: flex;
    align-items: center;
  }


  .body .container .kpis2 .icon .i .kpi-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: flex-start;
}

 .kpi-titulo {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-purple);
  margin-bottom: 5px;
}

  .body .container .kpis2 .icon .ii {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: var(--color-purple);
  }

  .body .container .kpis2 .number {
    font-size: 3rem;
    color: var(--color-deep-purple);
    font-weight: bold;
  }

  .body .container .kpis2 .desc{
    font-weight: bold;
  }

  .grafico-card {
  width: 600px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

#graficoHardware {
  width: 100% !important;
  height: 100% !important;
}
}
